@CHARSET "UTF-8";

h1 {
	color: red;
}

.h3 {
	background-color: green;
}

div {
	border: 1px solid blue;
}

.d3 {
	color: pink;
}

.a {
	color: blue;
}

#b {
	color: red;
}

input[type="text"] {
	background-color: yellow;
}

.s1 {
	border: 1px solid purple;
}

img {
	border: 5px solid #000;
}